################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Meu Repositório/FileContentIndex/8077bad5-c743-4f7b-be9d-77325571512a.vsidx
/.vs/Meu Repositório/FileContentIndex
